body{
    background-color: darkblue;
    background-attachment: fixed;
    backface-visibility: initial;
    margin:0;
    padding:0;
    background-size: cover;
    background-position: center;
   
}
.formbox{

  
    align-self:center; 
    margin-top: 50px;  
    padding-left: 50px;
    width: 700px;
    lenght
    position: relative;
    z-index: 1;
    background:whitesmoke;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .formbox p{
      font-size: 20px;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        align-content: center;
    }


.formbox input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background:lightblue;
        width: 100%;
        border: 0;
        margin: 5 5 12px;
        padding: 15px;
        box-sizing:content;
        font-size: 12px;
}
.formbox h1{
    font-style: oblique;
}
#submit{
    
}