<html>
    <head>
        <title> Register</title>
        <link rel="stylesheet" type="text/css" href="../static/signup.css">
        

        <br>
        <br>
    </head>
        <body>
           
            <div class="formbox">
                <h1>REGISTRATION FORM</h1>
                <form action="signup" method="POST">
                <p>NAME
                    <input type="text" name="name"></p>
                    <p>MAIL-ID
                        <input type="text" name=""></p>
                        <p>COLLEGE/SCHOOL
                            <input type="text" name="college"></p>
                            <p>BRANCH/CLASS
                                <input type="text" name="branch"></p>
                                <p>PHONE NO
                                    <input type="text" name=""></p>
                                    <p>PASSWORD
            
                                        <input type="password" name="pass" id="inputpass" class="form-control" minlenth="8" required="required" title="">
                                        </p>
                                        <p>INTERESTS
                                          
                                            <textarea name="textarea" id="input" class="form-control" rows="3" required="required"></textarea>
                                        </p>
                                        <p id="submit">
    
                                            <input type="submit" name="submit" >
            
                                        </p>
                                            
                                     
                                
                </form>

           

        </body>
        </html>